params {
  project_folder   = "$PWD"
  samplesheet      = "${project_folder}/samplesheet.csv"
  diffbind_output  = "diffbind_output"

  container_diffbind = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/diffbind-3.12.0.sif"
  extra_mounts = ''

  diffbind_cpus   = 4
  diffbind_memory = '64 GB'
  diffbind_time   = '24h'
}

process {
  executor = 'local'
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}

