params {
  project_folder   = "$PWD"
  samplesheet      = "${project_folder}/samplesheet.csv"
  samples_master   = null
  chipfilter_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-chipfilter/chipfilter_output"
  macs3_output     = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-macs3/macs3_output"
  diffbind_peak_ext = "narrowPeak"
  diffbind_output  = "diffbind_output"

  container_diffbind = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/diffbind-3.12.0.sif"
  extra_mounts = ''

  diffbind_cpus   = 4
  diffbind_memory = '64 GB'
  diffbind_time   = '24h'
  diff_fdr        = 0.05
  diff_lfc        = 1
}

process {
  executor = 'local'
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
