params {
  container_diffbind = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/diffbind-1.0.sif"

  queue        = 'cpu_p'
  extra_mounts = ''
}

process {
  executor = 'slurm'
  queue    = 'cpu_p'

  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  container        = params.container_homer

}

singularity {
  enabled    = true
  autoMounts = true
}
