params {
  container_diffbind = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/diffbind-3.12.0.sif"
  queue        = 'cpu_p'
  extra_mounts = "--bind /ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines"
}

process {
  executor = 'slurm'
  queue    = params.queue

  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  withName: diffbind_run {
    cpus   = params.diffbind_cpus
    memory = params.diffbind_memory
    time   = params.diffbind_time
    container = params.container_diffbind
  }
}

singularity {
  enabled    = true
  autoMounts = true
  runOptions = params.extra_mounts
}
